#map{
    margin: 48px;
    width: 81%;
    height: 72vh;
    border-block-color: black;
    border: 10px;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }